<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthMate"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- BMICalculatorActivity -->
        <activity android:name=".BMICalculatorActivity" />

        <!-- GymsActivity -->
        <activity android:name=".GymsActivity" />

        <!-- NutritionCentersActivity -->
        <activity android:name=".NutritionCentersActivity" />

        <!-- CalorieCalculatorActivity -->
        <activity android:name=".CalorieCalculatorActivity" />

        <!-- DietPlansActivity -->
        <activity android:name=".DietPlansActivity" />

        <!-- DietPlanDescriptionActivity -->
        <activity android:name=".DietPlanDescriptionActivity"></activity>

        <!-- GymDetailsActivity -->
        <activity android:name=".GymDetailsActivity"></activity>

        <!-- CenterDetailsActivity -->
        <activity android:name=".CenterDetailsActivity"></activity>

        <!-- FoodOptionsActivity -->
        <activity android:name=".FoodOptionsActivity"></activity>


    </application>

</manifest>